.dropdown-menu {
  top: auto;
  bottom: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;

  li > a {
    &:hover {
      background-image: none;
      color: $yellow;
    }
    &:focus {
      background-image: none;
    }
  }
  &.active > a {
    color: $yellow;
    background-image: none;
    font-weight: bold;
    &:hover {
      color: $yellow;
      background-image: none;
      font-weight: bold;
    }
  }
}

.nav li.dropdown .dropdown-menu li {
  &.active a {
    color: $yellow;
  }
  a  {
    color: $light_gray;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 1em;
    font-family: $f_fancy;
    letter-spacing: 0;
    &:hover {
      color: $yellow;
      background-color: $white;
    }
  }
}

// this makes the dropdown menu turn yellow when you click it
// .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
//   color: $yellow;
//   background-color: transparent;
// }

// this hides the rounded corning quote corner
.navbar .nav > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu::after {
  display: none;
}