$yellow: #ffcc00;
$white: #ffffff;
$black: #000000;
$dark_gray: #333333;
$light_gray: #898989;

/* fonts */
$f_main: 'Verdana', sans-serif;
$f_fancy: 'nexa_lightregular', sans-serif;
$f_fancy_bold: 'nexa_boldregular', sans-serif;