@import "compass";
@import "fonts";
@import "bootstrap";
@import "bootstrap-responsive"; 
@import "ie";  
@import "print";  
@import "variables";
@import "mixins";
@import "main-nav";
@import "dropdown.scss";
@import "footer";
@import "slideshow";

/* ==========================================================================
   TCA's custom styles
   ========================================================================== */

body {
  font-family: $f_main;
  font-size: 11px;
  line-height: 1.6em;
  overflow-x: hidden;  /* stops horizontal scrolling bars with .extendFull class */
}
/* the extend classes allow our nav to widen to infinity */
.extendFull, .extendLeft  
{  
    padding-left: 3000px;  
    margin-left: -3000px;  
}  
.extendFull, .extendRight  
{  
    padding-right: 3000px;  
    margin-right: -3000px;  
} 
dl {
  color: $black; 
  strong {
    font-family: $f_fancy_bold;
  }
  address {
    font-family: $f_fancy;
  }
  dt {
    font-weight: normal;
    font-family: $f_fancy;
    font-size: 12px;
    letter-spacing: 2px;
  }
  a {
    color: $black;
  }
}

a:hover {
  color: $dark_gray;
}

header {
  height: 160px;
  padding-top: 50px;
}

.contactInfo {
  color: $light_gray;
  font-size: 12px;
  padding: 20px;
  font-family: $f_fancy;
  letter-spacing: 2px;
  line-height: 1.6em;
  a {
    text-decoration: underline;
    color: $light_gray;
  }
}

.clientList {
  ul {
    list-style-type: none;
    li {
      font-size: 14px;
    }
  }
}
 
strong {
  color: $dark_gray;
}

h2 {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 14px;
  color: $yellow;
  letter-spacing: 0;

  a {
  color: $yellow;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-weight: normal;
  }
}

.main a {
  letter-spacing: 2px;
}

/* adds images to be just under main navigation */
.bioImgContainer {
   margin-top: -20px; 
}
/* pushes the 2nd column text down to match up with the first column */
.bioSecondColumn {
  padding-top: 45px;
}
.bioDetails ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  margin-left: 0 !important;
}
