/* ==========================================================================
   slideshow for full page bg images
   ========================================================================== */
/* This will set the images width to span the entire page */
/* line 5, sass/_slideshow.scss */
#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
